test folder/
/dynamic-resource-pack-cache
/data
/downloads
/fancymenu_data
/logs
/saves
/dynamic-data-pack-cache
ponders_watched.json
options.txt
/schematics
usernamecache.json
usercache.json
instance.json
command_history.txt
.mixin.out/class/dev/engine_room/flywheel/backend/engine/indirect/MatrixBuffer.class
.sable/natives/sable_rapier_x86_64_windows.dll
mods/e4mc-neoforge-6.2.0.jar
/config/e4mc
/config/jei/world
instance.json
/crash-reports
options.txt
armor2.png
cape.png
dahlia.cpmproject
dahlia2.cpmproject
elytra.png
protobyte_v2.0.2.bbmodel
protobyte_v2.0.2.cpmproject
servers.dat
servers.dat_old
skin.png
armor1.png
/player_models
/screenshots
/Distant_Horizons_server_data
/debug
/config/voicechat
/config/sound_physics_remastered
/config/jei
/config/jade
