test folder/
/dynamic-resource-pack-cache
/data
/downloads
/fancymenu_data
/logs
/saves
/dynamic-data-pack-cache
ponders_watched.json
options.txt
/schematics
usernamecache.json
usercache.json
instance.json
command_history.txt
.mixin.out/class/dev/engine_room/flywheel/backend/engine/indirect/MatrixBuffer.class
.sable/natives/sable_rapier_x86_64_windows.dll
mods/e4mc-neoforge-6.2.0.jar
/config/e4mc
/config/jei/world
instance.json
/crash-reports
options.txt
armor2.png
cape.png
dahlia.cpmproject
dahlia2.cpmproject
elytra.png
protobyte_v2.0.2.bbmodel
protobyte_v2.0.2.cpmproject
servers.dat
servers.dat_old
skin.png
armor1.png
/player_models
/screenshots
/Distant_Horizons_server_data
/debug
/config/voicechat
/config/sound_physics_remastered
/config/jei
/config/jade
config/connector.json
config/ferritecore-mixin.toml
config/bettercaves/README.txt
config/betterdeserttemples/README.txt
config/betterfortresses/README.txt
config/betterstrongholds/neoforge-1_21/README.txt
config/betterstrongholds/README.txt
config/betterfortresses/neoforge-1_21/README.txt
config/bettercaves/neoforge-1_21_1/README.txt
config/betterdeserttemples/neoforge-1_21/README.txt
.pg-native/libpowergridNative7.dll
config/aeroworks-client.toml
config/aeroworks-common.toml
config/antique-atlas.toml
config/apotheosis/apothic_attributes.cfg
config/apotheosis/apothic_enchanting.cfg
config/appleskin-client.toml
config/bettercaves/neoforge-1_21_1/liquidregions.json
config/betterdeserttemples-neoforge-1_21.toml
config/betterdeserttemples/neoforge-1_21/armorstands.json
config/betterdeserttemples/neoforge-1_21/itemframes.json
config/betterendisland-neoforge-1_21.toml
config/betterfortresses-neoforge-1_21.toml
config/betterfortresses/neoforge-1_21/itemframes.json
config/betterjungletemples-neoforge-1_21.toml
config/bettermineshafts-neoforge-1_21.toml
config/betteroceanmonuments-neoforge-1_21.toml
config/betterstrongholds-neoforge-1_21.toml
config/betterstrongholds/neoforge-1_21/armorstands.json
config/betterstrongholds/neoforge-1_21/itemframes.json
config/betterstrongholds/neoforge-1_21/ores.json
config/betterstrongholds/neoforge-1_21/rareblocks.json
config/betterwitchhuts-neoforge-1_21.toml
config/bits_n_bobs-common.toml
config/blueprint-client.toml
config/blueprint-common.toml
config/burnt_1_9_0_2_config.json
config/carryon-client.toml
config/carryon-common.toml
config/climbable_ropes-client.toml
config/collective.json5
config/configured-client.properties
config/copycats-client.toml
config/copycats-common.toml
config/cpm.json
config/create-client.toml
config/create-common.toml
config/create_dragons_plus-client.toml
config/create_dragons_plus-common.toml
config/create_enchantment_industry-client.toml
config/create_enchantment_industry-common.toml
config/create_submarine-common.toml
config/createbigcannons-client.toml
config/createpropulsion-client.toml
config/createpropulsion-common.toml
config/createtweakedcontrollers-client.toml
config/creeperoverhaul.jsonc
config/crepperoverhaul-client.jsonc
config/deeper_oceans.json
config/DistantHorizons.toml
config/do_a_barrel_roll-client.json
config/do_a_barrel_roll-server.json
config/entityculling.json
config/fabric/indigo-renderer.properties
config/farm_and_charm-common.toml
config/flywheel-client.toml
config/fml.toml
config/iris-excluded.json
config/iris.properties
config/jumpoverfences-client.toml
config/konkrete/locals/de_de.local
config/konkrete/locals/en_us.local
config/konkrete/locals/pl_pl.local
config/konkrete/locals/pt_br.local
config/lithostitched.json
config/lootr-client.toml
config/lootr-common.toml
config/mcqoy.toml
config/modernfix-common.toml
config/modernfix-mixins.properties
config/moonlight-client.toml
config/moonlight-common.toml
config/MouseTweaks.cfg
config/neo-auth.toml
config/neoforge-client.toml
config/neoforge-common.toml
config/oreganized-client.toml
config/oreganized-common.toml
config/pehkui-client.toml
config/pehkui-common.toml
config/placebo.cfg
config/ponder-client.toml
config/powergrid-client.toml
config/powergrid-common.toml
config/resourceful-config-web.json
config/sable-client.toml
config/sable-common.toml
config/simulated-client.toml
config/skinlayers.json
config/sodium-fingerprint.json
config/sodium-mixins.properties
config/sodium-options.json
config/submarine_hull.json
config/supplementaries-client.toml
config/supplementaries-common.toml
config/surveyor.toml
config/tfmg-common.toml
config/tiny_takeover_backport.json
config/transition.json
config/trender.json
config/yacl.json5
defaultconfigs/biolith/general.json
config/create_submarine_client_state.json
/hold this for me thanks
/ignore the folder above me
config/aeronautics_utility_objects-server.toml
config/aeroportals-server.toml
config/apotheosis/enchantments.cfg
config/bits_n_bobs-server.toml
config/chunky/config.json
config/climbable_ropes-server.toml
config/copycats-server.toml
config/create-server.toml
config/create_dragons_plus-server.toml
config/create_dragons_plus-simulated-extension-server.toml
config/create_enchantment_industry-apothic_enchanting-server.toml
config/create_enchantment_industry-server.toml
config/createbigcannons-server.toml
config/galena_hats.json
config/jei-server.toml
config/neoforge-server.toml
config/offroad-server.toml
config/pehkui-server.toml
config/powergrid-server.toml
config/ritchiesprojectilelib-server.toml
config/simulated-server.toml
config/tfmg-server.toml
config/towed-server.toml
config/vsfluidlink-server.toml
config/aeronautics-server.toml
config/clientsort-server.json
config/clientsort.json
config/gravestone-client.toml
config/gravestone-server.toml
config/jamlib/known_suspicious_jars.txt
config/rightclickharvest.json5
options.txt
/config/worldedit/.archive-unpack
/config/fancymenu/ui_themes
/.mixin.out
/config/streamsreflowing
config/streamsreflowing-common.toml
config/streamsreflowing-client.toml
config/soundofrain-client.toml
/mods/.connector
config/pipesnphysics-client.toml
config/pipeorgans-client.toml
/config/particlerain
config/easy_tweaker-common.toml
mods/worldstripper-1.21-5.0.0-neoforge.jar
config/corpse-server.toml
config/dndecor-server.toml
config/paddlewheels-server.toml
config/pipeorgans-server.toml
config/pipesnphysics-server.toml
config/worldstripper/config.json
config/worldstripper/strippables.json
config/create_connected-common.toml
config/create_connected-server.toml
/config/structurify
/cache
/config/fancymenu/layout_editor/widgets
/config/fancymenu/layout_editor/widgets
